In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
#  Reading parquet file in python
# import pyarrow.parquet as pq
# trips = pq.read_table('./yellow_tripdata_2023-11.parquet')
# trips = trips.to_pandas()
# trips.head(10)

In [ ]:
df = pd.read_csv('./yellow_tripdata_2021-01.csv', nrows=100)

In [ ]:
df

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

In [ ]:
df['tpep_dropoff_datetime']
df.tpep_pickup_datetime

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [ ]:
df.head(n=0)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True:
    try: 
        t_start = time()

        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('Finished processing all chunks.')
        break

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
query = """
SELECT * FROM zones LIMIT 10
"""

pd.read_sql(query, con=engine)

In [ ]:
df_green = pd.read_csv('./green_tripdata_2019-09.csv.gz')

In [ ]:
df_green.head()

In [ ]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_data'))

In [ ]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [ ]:
df_green

In [ ]:
df_green.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

In [18]:
query = """
SELECT * FROM green_taxi_data LIMIT 10
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,...,0.5,0.5,2.36,0.00,None,0.3,14.16,1.0,1.0,0.0
1,1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
2,2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
3,3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,...,0.5,0.5,1.50,0.00,None,0.3,10.30,1.0,1.0,0.0
4,4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,...,0.5,0.5,3.06,0.00,None,0.3,18.36,1.0,1.0,0.0
5,5,2.0,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1.0,7,41,1.0,6.26,...,0.5,0.5,0.00,6.12,None,0.3,28.42,2.0,1.0,0.0
6,6,2.0,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1.0,33,37,1.0,4.34,...,0.5,0.5,3.86,0.00,None,0.3,23.16,1.0,1.0,0.0
7,7,1.0,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1.0,55,55,1.0,1.20,...,0.5,0.5,0.00,0.00,None,0.3,3.80,3.0,1.0,0.0
8,8,1.0,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1.0,55,89,1.0,0.00,...,0.0,0.5,0.00,0.00,None,0.3,23.00,1.0,1.0,0.0
9,9,2.0,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1.0,17,17,1.0,0.14,...,0.5,0.5,0.00,0.00,None,0.3,3.80,2.0,1.0,0.0